/* .dropdown-toggle btn btn-success{
    background-color: white !important;
    border-radius: 18px !important;
    height: 49px !important
} */
.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    background-color: white !important;
    border-radius: 18px !important;
    height: 49px !important;
    padding-left: 67px !important
}
#dropdown-basic{
    border: 1px solid orchid;
    background-color: white !important;
    border-radius: 38px !important;
    height: 53px !important
}