.btn-primary {
    background-color: white !important;
    border: white !important
}
.newbtn{
    background-color:rgb(93,118,129) !important; 
}
.COLOR{
    color: white;
    font-weight: bold;
    font-size: larger;
}