

.btn-primary:hover{
    font-size: 19px !important;
    color: white !important;
    background-color: #5D7681 !important;
}


.modal-body {
    text-align: center !important;
}
.modal-title,.modal-header{
    text-align: center !important;  
}
#contained-modal-title-vcenter{
    text-align: center !important; 
}

.modal-content{
    width: 200% !important;
    padding: 1%;
    margin: 0 0 0 -85%;
}
.fade modal show,.modal-dialog modal-lg modal-dialog-centered{
    display: block !important;
    padding-left: 20% !important;
}
.modal.show .modal-dialog {
    padding-left: 13.5% !important;
    transform: none;
}


.modal-title, .modal-header {
    /* height: 3px !important; */
    text-align: center !important;
}

.visually-hidden{
    border: 2px solid red;
}


.alert-success{
    padding-bottom: 50px;
    height: 50px !important;
}

.footerDiv{
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin: 0 3% 0 0;
    padding: 0 0 0 15%;
}

.footerDiv>label{
    font-size: 10px;
}

.footerDiv+p{
    font-size: 10px;
}

.mb-3{
    text-align: left;
}

.signBtn{
    background-color: #fff;
    color: #5D7681;
    border: 2px solid #5D7681;
    font-weight: 500;
    border-radius: 30px;
    margin-left: -35%;
}

.signBtn:hover{
    background-color: #5D7681;
    color: white;
}