
.urgent{
    background-color:rgb(93,118,129) !important; 
    border-radius: 50px;
    font-size: 19px;
    color:#fff;
}
.btn-primary:hover{
    font-size: 19px !important;
    color: white !important;
    background-color: #e1d5d5 !important;
   /* fontSize:"19px",
   color:"white!important",
   backgroundColor:"#888!important"}} */

}


.modal-body {
    text-align: center !important;
}
.modal-title,.modal-header{
    text-align: center !important;  
}
#contained-modal-title-vcenter{
    text-align: center !important; 
}
.nayainput{
    border: 1px solid orchid;
    border-radius: 38px;
    width: 80%;
    font-size: larger;
    text-align: center;
    height: 53px;
}
.nayainput1{
    border: 1px solid orchid;
    border-radius: 38px;
    width: 80%;
    background-color: white;
    font-size: larger;
    text-align: center;
    height: 53px;
}
.nayainput2{
    border: 1px solid orchid;
    border-radius: 38px;
    width: 80%;
    font-size: larger;
    background-color: white;
    text-align: center;
    height: 53px;
}
.nayainput3{
    border: 1px solid orchid;
    background-color: white;
    border-radius: 38px;
    width: 80%;
    font-size: larger;
    text-align: center;
    height: 53px;
}
.modal-content{
    width: 70% !important;
}
.fade modal show,.modal-dialog modal-lg modal-dialog-centered{
    display: block !important;
    padding-left: 20% !important;
}
.modal.show .modal-dialog {
    padding-left: 13.5% !important;
    transform: none;
}


.modal-title, .modal-header {
    /* height: 3px !important; */
    text-align: center !important;
}
