
    .mainbody{
    
        background-color:#F8F7F3;
        padding:1% 3%;
        }


        .mainbox{
            /* display: grid;
            grid-template-columns: repeat(3,1fr); */
            width: 100%;
            margin: auto;
            padding: 4.5px 0px 4.5px 0px;
            border-bottom: 1px solid #e2e8f0;
        }
        .followpeople{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: auto;

            /* border: 2px solid red; */
        }
        .main{
            width: 100%;
            margin: auto;
            
            background-color: white;
            /* border: 2px solid red; */

            border-radius: 20px;
        }
        .main2{
            /* border: 1px solid blue; */
            display: flex;
            align-items: center;
            padding: 0 50px 0 0;
            /* grid-template-columns: repeat(3,1fr); */
            /* border-bottom: 1px solid #e2e8f0; */
        
        }
        .main2 > .imageanddetails{
            display: flex;
            /* border: 1px solid green; */
            width: 446px;
            height: 48px;
            padding-top: 9px;
            padding-bottom: 9px;
            padding-left: 4.5px;
            padding: 4.5px;
        }
        .main2 > .imageanddetails > .image> img{
            /* border: 1px solid purple; */
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: -5px 0 0 10px;
            /* border: 2px solid purple;  */
        }
       .nameicon{
            display: flex;
            width: 100%;
            /* border: 2px solid purple;  */
            margin-top: -10px;
        }

        

        .main2 > .imageanddetails > .details> .nameicon > .name{
            
            align-items: center;
        }
        .main2 > .imageanddetails > .details> .nameicon> .name {
            font-size: 16px;
            margin: 5px;
            font-weight: 600;
            font-weight: bold;
            
            
        }
        .main2 > .imageanddetails > .details> .nameicon > .icon> img {
            margin-top: 5px;
            margin-left: 5px;
                width: 12px;
                height: 12px;
        }
        .aboutuser{
            width: 100%;
            height: 21px;
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: -.24px;
            text-decoration: none;
            color: #888;
            margin-bottom: -50px;
            width: 100%;
            margin: -8px 0 0 5px ;
            /* border: 2px solid blue; */

        }
        .follow{
            width: 87px;
            height: 57px;
            /* padding: 15px 13px 0px 3.5px; */
        }
        .follow > button{
            width: 110%;
            height: 24px;
            color: #fff;
            background-color: #809B9D;
            border-radius: 12px;
            border: none;
            padding: 0px 6px 25px 0;
            margin: 10px 0 0 30px;
        
        }
        .doticon{
            align-items: center;
            width: 10px;
            height: 10px;
            letter-spacing: -.24px;
            margin-top: -15px;
        }